* {
    margin: 0;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at center, #121212, #0a0a0a);
    color: #f1f1f1;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

/*Navigation bar*/
nav{
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.logo {
    color: rgb(44, 116, 121);
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    margin: 0 15px;
    font-family: "Fascinate", system-ui;
}

nav ul{
    float:right;
    margin-right: 25px;
}

nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    position:relative;
    color:white;
    font-size: 30px;
    padding: 10px;
    font-family: "Kirang Haerang", system-ui;
}

nav ul li a:before{
    position: absolute;
    content:'';
    left:0;
    bottom:0;
    height:3px;
    width:100%;
    background: #f7f7f7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color:white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}

#check{
    display:none;
}

/*h1, h2 & h4*/ 
h1 {
    text-align: left;
    padding-top: 90px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;;
    font-size: 2.8rem;
    word-spacing: 0.3em;
}

.about-me h1,
.projects h1,
.skills-tech h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Fredericka the Great", serif;
    color: rgb(44, 116, 121);
    font-size: 45px;
}

.contact h1 {
    text-align:right;
    padding-top: 10px;
    font-family: "Fredericka the Great", serif;
    font-size: 45px;
    color: rgb(44, 116, 121);
    margin-right: 400px;
}

h2 {
    text-align: left;
    color: rgb(44, 116, 121);
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.6rem;
    word-spacing: 0.3em;
}

h4 {
    font-family: "Chewy", system-ui;
    text-align: justify;
    color: #e2eef1;
}

/*Interactive Background*/
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.shape {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(26, 130, 171, 0.15);
    border-radius: 50%;
    animation: float 15s infinite linear;
    transition: transform 0.3s ease;
}

.shape:hover {
    transform: scale(1.5);
    background-color: rgba(26, 130, 171, 0.15);
}

.shape:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}

.shape:nth-child(2) {
    top: 50%;
    left: 10%;
    animation-delay: 3s;
}

.shape:nth-child(3) {
    top: 70%;
    left: 80%;
    animation-delay: 6s;
}

.shape:nth-child(4) {
    top: 30%;
    left: 60%;
    animation-delay: 9s;
}

.shape:nth-child(5) {
    top: 80%;
    left: 40%;
    animation-delay: 12s;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
    }
}

/*Home Page*/
.cta-buttons {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 20px;
    min-width: 180px;
    font-size: 18px;
    transition: all 0.3s ease;
    color: #0a0a0a;
    background-color: rgba(26, 130, 171, 0.15);
    color: rgba(26, 130, 171);
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.home-left {
    flex: 1;
    min-width: 300px;
    margin-top:30px;
}

.home-left h1 {
    font-family: "Fascinate", system-ui;
    font-size: 50px;
}

.home-left h2 {
    font-family: "Kirang Haerang", system-ui;
    font-size: 50px;
}

.home-left p {
    max-width: 520px;
    text-align: justify;
    font-size: 18px;
}

.home-right {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
}

.home-right img {
    max-width: auto;
    border-radius: 15px;
    transition: 0.3s ease;
    height: 500px;
    margin-top:30px;
}

.home-right img:hover {
    transform: scale(1.05);
    filter: grayscale(1);
}

.btn:hover {
    background-color: rgba(195, 197, 198, 0.15);
}

/*About Page*/
.about-me {
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    text-align: center;
}

.about {
    background-color: #0f0f0f;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 30px 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
} 

.about h3{
    font-family: "Chewy", system-ui;
    font-size: 30px;
    color: #03dac6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(4, 41, 55, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin: 10px 10px;
}

.about p{
    font-size: 1.1rem;
    margin: 10px 0;
    color: #f1f1f1;
    text-align: center;
}

.about small{
    color: #03dac6;

}

.skills, 
.certificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills p,
.certificate p {
    background-color: rgba(58, 63, 65, 0.15);
    padding: 8px 12px;
    border-radius: 8px;
    margin: 5px;
    font-size: 1rem;
    white-space: nowrap; 
}

/*Skills Page*/
.skills-section {
    padding: 30px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    justify-items: center;
}

.skill-card {
    background-color: #0f0f0f;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 30px 20px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.skill-card img {
    width: 150px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 15px;
}

.skill-card h4 {
    font-size: 22px;
    text-align: center;
    color: #f1ecec;
    margin-bottom: 10px;
}

/*Project Page*/
.project-container {
    padding: 40px;
    text-align: center;
}

.project-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 45px;
}

.project-card {
    background-color: #0f0f0f;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 30px 20px;
    width: 380px;
    max-width: 90vw; 
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.project-card img {
    width: auto;
    height: 160px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 15px;
}

.project-card h4 {
    font-size: 25px;
    text-align: center;
    color: #e23535;
    margin-bottom: 10px;
}

.demo {
    text-align: center;
    margin-top: 20px;
}

.demo a {
    display: inline-block;
    color: #e92354;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: none;
}

.project-card p {
    font-size: 15px;
    text-align: justify;
}

/*Contact Page*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.card-container img{
    width: 400px;
    height: auto;
    margin-top: 30px;
}

.cards-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card {
    background: rgba(18, 76, 126, 0.294);
    padding: 30px 15px;
    width: 90%;
    min-height: 60px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: auto;
    align-content: center;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 40px rgba(0,0,0,0.2);
}

.icon {
    color: #e92354;
    margin: 0px 10px;
    font-size: 3rem;
}

.contact-card p {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    justify-content: flex-start;
}

/*Responsive Screen*/
@media (max-width: 860px){
    label #btn{
        display:block;
    }

    body {
        padding-top: 80px;
    }

    nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgb(4, 41, 55);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 1000;
    }

    nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn{
        display:none;
    }

    #check:checked ~ label #cancel{
        display:block;
    }

    .home {
        padding-top: 20px;
    }

    .home-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .home-right img {
        width: 280px;
        height: auto;
        align-content: center;
    }

    .about {
        padding: 1rem;
    }
      .about-me h1 {
        font-size: 1.8rem;
    }
      .about h3 {
        font-size: 1.3rem;
    }

    .skills-section {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }

    .skill-card {
        scroll-snap-align: center;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
    }
    
    .project-card img {
        width: 100%;
        height: auto;
    }

    .contact h1 {
        text-align: center;
        margin-right: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .cards-wrapper {
        width: 100%;
    }

    .contact-me {
        width: 250px;
        margin: auto;
    }

    .about-me h1,
    .projects h1,
    .skills-tech h1,
    .contact h1 {
    font-size: 30px;
}
}

@media (max-width: 240px) {
    .logo {
      font-size: 5vw;
      max-width: 55%;
    }
}

